.form-control.error {
    border-color: #FF5370;
}
label.error {
    color: #FF5370;
    margin-top: 3px;
}
.feather{
    font-size: 20px;
}
.dataTables_length {
    float: left;
}
.dataTables_length select {
    float: left;
    background: white;
    position: absolute;
    width: 100px;
    left: 98px;
    top: -2px
}
.dataTables_filter {
    float: right;
}
.dataTables_filter input {
    float: right;
    background-color: white;
    margin-top: -5px;
    margin-left: 5px;
}
.table-responsive {
    overflow-x: hidden;
}
.pagination {
    float: right;
}

.theme-tbl table tr td:last-child {
    width: 14%;
}
/* .theme-tbl table tr td:last-child:has(.badge) {
    text-align: center;
} */
.datatable {
    margin: 0px !important;
}

.select2-container--default .select2-selection--single,
.select2-container--default {
    height: 35px;
    color: #495057;
    background-color: #f6f7fb;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 35px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px;
}
/* .select2-container {
    z-index: 99999;
}
*/ .select2-selection--multiple:before {
    content: "";
    position: absolute;
    right: 7px;
    top: 42%;
    border-top: 5px solid #888;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.select2-close-mask {
    z-index: 2099;
}

.select2-dropdown {
    z-index: 3051;
}
label.required-input:after {
    content: ' * ';
    color: #a94442;
}
/* .user-profile-list table tbody tr .overlay-edit {
	border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    opacity: 99999;
    background: none;
} */

.checkbox input[type=checkbox],
.radio input[type=radio] {
    display: inline-block !important;
    appearance: none;
    width: 0;
    appearance: none;
}
.radio input[type=radio] + .cr:after {
    top: 13.3px;
    left: 8.5px;
}

.comment-section {
  margin-top: 30px;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
.comment {
  margin-bottom: 30px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 20px;
  display: flex;
  align-items: flex-start;
}
.comment:last-child {
  border-bottom: none;
}
.comment img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}
.comment-content {
  flex: 1;
}
.comment .author {
  font-weight: bold;
  margin-bottom: 8px;
}
.comment .author .date {
  font-size: 0.9em;
  color: #888;
  margin-bottom: 10px;
}
.comment .message {
  margin-top: 10px;
}

.tiny-text{
    font-size: 70% !important;
}

/* media query */
@media (max-width: 767px) {
    .table-responsive {
        overflow-x: auto;
    }
    .dataTables_length select {
        position: relative;
        float: none;
    }
    .dataTables_length, .dataTables_length {
        float: none;
    }

    
    .dataTables_filter input {
        float: none;
        background-color: white;
    }

    

}